<div class="container-fluid py-3" style="background: #efefef">
  <header class="h-100" style="border-radius: 10%; background: thistle">
    <div class="p-3 d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center link-body-emphasis text-decoration-none">
        <img src="assets/programming.svg" height="50px" width="50px">
        <span class="fs-5">Auction</span>
      </a>

      <nav class=" mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 link-body-emphasis text-decoration-none text-decoration-underline" routerLink="washingMachines">Washing machines</a>
        <a class="me-3 py-2 link-body-emphasis text-decoration-none text-decoration-underline" routerLink="problems">Problems</a>
      </nav>
    </div>
  </header>

  <main style="min-height: 500px">
      <router-outlet></router-outlet>
  </main>

  <footer class="p-4 my-md-5 pt-md-5 border-top" style="background: thistle">
    <div class="row">
      <div class="col-12 col-md">
        <p>Washing machine repair auction</p>
        <small class="d-block mb-3 text-body-secondary">©2023</small>
      </div>
      <div class="col-6 col-md">

      </div>
      <div class="col-6 col-md ">
        <h5>Links</h5>
        <ul class="list-unstyled text-small">
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="washingMachines">Washing machines</a></li>
          <li class="mb-1"><a class="link-secondary text-decoration-none" routerLink="problems">Problems</a></li>
        </ul>
      </div>
      <div class="col-6 col-md">

      </div>
    </div>
  </footer>
</div>

